name: Build Bigdroid Project

on:
  push:
    tags:
      - '*'
  #workflow_dispatch:

jobs:
  publish_release:
    runs-on: ubuntu-latest
    name: Building Bigdroid project
    steps:
      - uses: actions/checkout@v2
      
      - id: bigdroid-build
#         uses: lhotari/action-upterm@v1
        uses: bigdroid/action-build@HEAD
        env:
            API_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
