name: Build Bigdroid Project

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  publish_release:
    runs-on: ubuntu-latest
    name: Building Bigdroid project
    steps:
      - uses: actions/checkout@v2
      - id: bigdroid-build
        uses: bigdroid/action-build@HEAD
        
